# Files you don't want sent to GitHub 
# (Files you don't want or don't need to be made public)

.vscode

__pycache__

# Don't save the env folder - if using python virtual env
env

# Don't save my db - so others can make their own
database

# Keys - don't save your api keys to GitHub!!
keys.py

# DS_STORE
.DS_Store