# Files you don't want sent to GitHub 
# (Files you don't want or don't need to be made public)

# Don't save the env folder
env

# Don't save my db - so others can make their own
database

# Keys - don't save your api keys to GitHub!!
keys.py