@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');

:root {
    --orange-red: #F45D48;
    --white: #FFFFFE;
    --green-blue: #078080;
    --black: #232323;
    --light-black: rgba(34, 37, 37, 0.5);
    --tan: #F8F5F2;
}

* {
    font-family: 'Open Sans', sans-serif;
}